@using SmartCarRentals.Common
@model SmartCarRentals.Web.ViewModels.Administration.Cars.CarDetailsViewModel
@{
    ViewData["Title"] = "Details Car";
}

<section class="content" align="center">
    <div class="container">

        <div class="media">
            <img class="media-left" width="570" alt="Image" src="@Model.Image">
            <div class="media-body">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">

                        <h3 class="profile-username text-center"><span>@Model.Make </span><span>@Model.Model </span><span>@Model.PlateNumber</span></h3>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Fuel Type:<a> @Model.Fuel, </a><a>Transmition: @Model.Transmition, </a><a>Hire Status: @Model.HireStatus</a></b>
                            </li>
                            <li class="list-group-item">
                                <b>Rating:<a> @Model.Rating, </a><a>Count of Trips: @Model.Trips.Count, </a><a>Km Run: @Model.KmRun</a></b>
                            </li>
                            <li class="list-group-item">
                                <b>Price per Hour:<a> @Model.PricePerHour$</a></b>
                            </li>
                            <li class="list-group-item">
                                <b>Price per Day:<a> @Model.PricePerDay$</a></b>
                            </li>
                            <li class="list-group-item">
                                <b>Count of Trips:<a> @Model.Trips.Count</a></b>
                            </li>
                            <li class="list-group-item">
                                @if (Model.ParkingId != null)
                                {
                                    <b>Parking:<a> @Model.Parking.Name, @Model.Parking.Town.Name, @Model.Parking.Address</a></b>
                                }
                                else
                                {
                                    <b>Parking:<a> On Trip </a></b>
                                }
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <b>
                                        <a>Rating: @Model.Rating&emsp;&emsp;</a>
                                        <a>
                                            @for (int i = 1; i <= Model.Rating; i++)
                                            {
                                                <span><i class="fas fa-star"></i></span>
                                            }

                                            @for (int i = EntitiesAttributeConstraints.MaxRatingVote; i > Model.Rating; i--)
                                            {
                                                <span><i class="far fa-star"></i></span>
                                            }
                                        </a>
                                    </b>
                                </div>
                            </li>
                        </ul>
                        <div class="row user-social-detail">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <a type="button" class="btn bg-gradient-indigo py-2 px-3" asp-area="Administration" asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                <a type="button" class="btn btn-danger py-2 px-3" asp-area="Administration" asp-controller="Cars" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                                <a type="button" class="btn btn-warning py-2 px-3" asp-area="Administration" asp-controller="Cars" asp-action="All" asp-route-id="@Model.Id">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

