@using SmartCarRentals.Data.Models.Enums.Car
@model SmartCarRentals.Web.ViewModels.Administration.Cars.CarDetailsViewModel
@{
    this.ViewData["Title"] = "Edit Car";
    var parkings = Model.Parkings.Select(p => new SelectListItem(p.Name, p.Id.ToString()));
    var currentParking = Model.Parkings.Where(p => p.Id == Model.ParkingId).FirstOrDefault();
}

<section class="content" align="center">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="small-box bg-primary">
                <div class="inner">
                    <form class="request-form ftco-animate bg-primary" method="post">
                        <h2>Edit Car</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Make" class="label"></label>
                            <input asp-for="Make" class="form-control" placeholder="Make" />
                            <span asp-validation-for="Make" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Model" class="label"></label>
                            <input asp-for="Model" class="form-control" placeholder="Model" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Class" class="label"></label>
                            <select class="form-control" asp-for="Class" asp-items="Html.GetEnumSelectList<ClassType>()">
                                <option value="">Select Class</option>
                            </select>
                            <span asp-validation-for="Class" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Transmition" class="label"></label>
                            <select class="form-control" asp-for="Transmition" asp-items="Html.GetEnumSelectList<TransmitionType>()" value="@Model.Transmition">
                                <option value="">Select Transmition</option>
                            </select>
                            <span asp-validation-for="Transmition" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HireStatus" class="label"></label>
                            <select class="form-control" asp-for="HireStatus" asp-items="Html.GetEnumSelectList<HireStatus>()" value="@Model.HireStatus">
                                <option value="">Select Transmition</option>
                            </select>
                            <span asp-validation-for="HireStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImgUrl" class="label"></label>
                            <input asp-for="ImgUrl" class="form-control" placeholder="ImgUrl" />
                            <span asp-validation-for="ImgUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PlateNumber" class="label"></label>
                            <input asp-for="PlateNumber" class="form-control" placeholder="PlateNumber" />
                            <span asp-validation-for="PlateNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PricePerHour" class="label"></label>
                            <input asp-for="PricePerHour" class="form-control" placeholder="PricePerHour" />
                            <span asp-validation-for="PricePerHour" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PricePerDay" class="label"></label>
                            <input asp-for="PricePerDay" class="form-control" placeholder="PricePerDay" />
                            <span asp-validation-for="PricePerDay" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Fuel" class="label"></label>
                            <select class="form-control" asp-for="Fuel" asp-items="Html.GetEnumSelectList<FuelType>()">
                                <option value="">Select Fuel</option>
                            </select>
                            <span asp-validation-for="Fuel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PassengersCapacity" class="label"></label>
                            <input asp-for="PassengersCapacity" class="form-control" placeholder="PassengersCapacity" />
                            <span asp-validation-for="PassengersCapacity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ParkingId" class="label"></label>
                            <select class="form-control" asp-for="ParkingId" asp-items="@parkings" value=@currentParking>
                                <option value="">Select Parking</option>
                                @*<option value="">@Model.Parking.</option>*@
                            </select>
                            <span asp-validation-for="ParkingId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success py-2 px-3" asp-area="Administration" asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id">Update</button>
                            <button type="submit" class="btn btn-warning py-2 px-3" asp-area="Administration" asp-controller="Cars" asp-action="Details" asp-route-id="@Model.Id">Go Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
