@model SmartCarRentals.Web.ViewModels.Administration.Drivers.DriversAllViewModelCollection
@{
    this.ViewData["Title"] = "Drivers All";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead class="table-head-fixed tab">
                    <tr>
                        <th scope="col"><a type="button" class="btn btn-primary py-1 px-1" asp-area="Administration" asp-controller="Drivers" asp-action="Create">+ Create New Driver</a></th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Transfers Count</th>
                        <th scope="col">Details Page</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.Drivers.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td><span>@Model.Drivers[i].FirstName</span><span> @Model.Drivers[i].LastName</span></td>
                            <td>@Model.Drivers[i].Rating</td>
                            <td>@Model.Drivers[i].Transfers.Count</td>
                            <td><a type="button" class="btn btn-primary py-1 px-1" asp-area="Administration" asp-controller="Parkings" asp-action="Details" asp-route-id="@Model.Drivers[i].Id">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
