@using System.Linq
@model SmartCarRentals.Web.ViewModels.Administration.Towns.TownsAllViewModelCollection
@{
    this.ViewData["Title"] = "Towns All";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead class="table-head-fixed tab">
                    <tr>
                        <th scope="col"><a type="button" class="btn btn-primary py-1 px-1" asp-area="Administration" asp-controller="Towns" asp-action="Create">+ Create New Town</a></th>
                        <th scope="col">Town</th>
                        <th scope="col">Parkings Count</th>
                        <th scope="col">Cars Count</th>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.Towns.Count(); i++)
                    {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model.Towns[i].Name</td>
                        <td>@Model.Towns[i].Parkings.Count</td>
                        <td>@Model.Towns[i].Parkings.Sum(t => t.Cars.Count)</td>
                        <td>@Model.Towns[i].Country.Name</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


