@using SmartCarRentals.Common
@model SmartCarRentals.Web.ViewModels.Administration.Users.UserDetailsViewModel
@{
    ViewData["Title"] = "Details User";
}

<section class="content" align="center">
    <div class="container">
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
                </div>

                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">

                        <h3 class="profile-username text-center">User Name: @Model.NormalizedUserName</h3>

                        <p class="text-muted text-center">User Roles: @string.Join(", ",Model.ApplicationRoles)</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Email: <a> @Model.NormalizedEmail</a></b>
                            </li>
                            <li class="list-group-item">
                                <b>Full Name: <a><span>@Model.FirstName </span><span>@Model.LastName</span></a></b>
                            </li>
                            <li class="list-group-item">
                                <b>User Rank: <a> @Model.Rank</a></b>
                            </li>
                            <li class="list-group-item">
                                <b>Points: <a> @Model.Points</a></b>
                            </li>
                        </ul>

                        <div class="row user-social-detail">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <a type="button" class="btn btn-success py-2 px-3" asp-area="Administration" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id">Edit Roles</a>
                                <a type="button" class="btn btn-warning py-2 px-3" asp-area="Administration" asp-controller="Users" asp-action="All">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

