@using SmartCarRentals.Common;
@using System.Linq;
@model SmartCarRentals.Web.ViewModels.Administration.Cars.CarsAllViewModelCollection
@{
    this.ViewData["Title"] = "Cars All";
    var bgUrl = "https://res.cloudinary.com/dp70enihl/image/upload/v1585135294/SmartCarRentalsPics/Background/bg_3_s4tpcl.jpg";
    var countries = Model.Countries.Select(Country => new SelectListItem(Country, Country));
    var towns = Model.Towns.Select(Town => new SelectListItem(Town, Town));
    var parkings = Model.Parkings.Select(Parking => new SelectListItem(Parking, Parking));
}


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@bgUrl');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home <i class="fas fa-greater-than"></i></a></span> <span>Cars <i class="fas fa-greater-than"></i></span></p>
                <h1 class="mb-3 bread">Choose Your Car</h1>
            </div>
        </div>
    </div>
</section>

<hr />
<div class="container">
    <form asp-action="All" method="post">
        <div class="form-row align-items-center">
            <div class="col-md-3">
                <select name="SearchByCountry" id="inputCountry" class="form-control mb-2" asp-items="@countries">
                    <option value="@ViewData["CountryFilter"]">Search by Country</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="SearchByTown" id="inputTown" class="form-control mb-2" asp-items="@towns">
                    <option value="@ViewData["TownFilter"]">Search by Town</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="SearchByParking" id="inputParking" class="form-control mb-2" asp-items="@parkings">
                    <option value="@ViewData["ParkingFilter"]">Search by Parking</option>
                </select>
            </div>
            <div class="col-md-3">
                <input id="searchBtn" type="submit" value="Search" class="btn btn-primary mb-2 py-2 px-4" /> |
                <a asp-action="All">Back to Full List</a>
            </div>
        </div>
    </form>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var car in Model.Cars)
            {
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url(@car.Image);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a asp-area="" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">@car.Make @car.Model</a></h2>
                            <p class="mb-0 rated">
                                <span>Rating: @car.Rating.ToString("F2") </span>
                                <br />
                                <span>
                                    @for (int i = 1; i <= car.Rating; i++)
                                    {
                                        if (i < 4)
                                        {
                                            <span class="fas fa-star text-yellow"></span>
                                        }
                                        else if (i > 7)
                                        {
                                            <span class="fas fa-star text-danger"></span>
                                        }
                                        else
                                        {
                                            <span class="fas fa-star text-orange"></span>
                                        }
                                    }

                                    @for (int i = EntitiesAttributeConstraints.MaxRatingVote; i > car.Rating; i--)
                                    {
                                        <span class="far fa-star text-yellow"></span>
                                    }
                                </span>
                            </p>
                            <div class="d-flex mb-3">
                                <span class="cat">@car.Parking.Town.Name, @car.Parking.Address</span>
                                <p class="price ml-auto">$@car.PricePerDay <span>/day</span></p>
                            </div>
                            <hr />
                            <p class="d-flex mb-0 d-block">
                                <a class="btn btn-primary py-2 mr-1" asp-area="" asp-controller="Trips" asp-action="Create" asp-route-id="@car.Id">Rent</a>
                                <a class="btn btn-secondary py-2 mr-1" asp-area="" asp-controller="Reservations" asp-action="Create" asp-route-id="@car.Id">Reserve</a>
                                <a class="btn btn-warning py-2 mr-1" asp-area="" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Details</a>
                                <hr />
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        @if (this.Model.CurrentPage == 1)
                        {
                            <li class="disabled">
                                <a>&lt;</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a id="previousPage" asp-route="default"
                                   asp-route-id="@(this.Model.CurrentPage - 1)">&lt;</a>
                            </li>
                        }

                        @{
                            var pagesToShow = new List<int>();
                            for (var i = 1; i <= GlobalConstants.MorePagesToShow; i++)
                            {
                                pagesToShow.Add(i);
                            }
                            for (var i = this.Model.CurrentPage - GlobalConstants.MorePagesToShow; i <= this.Model.CurrentPage + GlobalConstants.MorePagesToShow; i++)
                            {
                                if (i > 0)
                                {
                                    pagesToShow.Add(i);
                                }
                            }
                            for (var i = this.Model.PagesCount - GlobalConstants.MorePagesToShow + 1; i <= this.Model.PagesCount; i++)
                            {
                                if (i > 0)
                                {
                                    pagesToShow.Add(i);
                                }
                            }
                            pagesToShow = pagesToShow.Where(x => x <= this.Model.PagesCount).Distinct().OrderBy(x => x).ToList();
                        }
                        @for (var i = 0; i < pagesToShow.Count; i++)
                        {
                            var pageNumber = pagesToShow[i];
                            var active = pagesToShow[i] == this.Model.CurrentPage ? "active" : string.Empty;
                            if (i > 0 && pageNumber - 1 != pagesToShow[i - 1])
                            {
                                <li class="@active"><a asp-route="default" asp-route-id="@(pagesToShow[i - 1] + 1)">...</a></li>
                            }
                            <li class="@active"><a asp-route="default" asp-route-id="@pagesToShow[i]">@pagesToShow[i]</a></li>
                        }

                        @if (this.Model.CurrentPage == this.Model.PagesCount)
                        {
                            <li class="disabled">
                                <a>&gt;</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a id="nextPage" asp-route="default"
                                   asp-route-id="@(this.Model.CurrentPage + 1)">&gt;</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const inputCountry = document.getElementById('inputCountry');
    const inputTown = document.getElementById('inputTown');
    const inputParking = document.getElementById('inputParking');
    inputCountry.addEventListener('change', (event) => {
        inputTown.value = "Search by Town";
        inputParking.value = "Search by Parking";
    });

    inputTown.addEventListener('change', () => {
        inputCountry.value = "Search by Country";
        inputParking.value = "Search by Parking";
    });

    inputParking.addEventListener('change', () => {
        inputCountry.value = "Search by Country";
        inputTown.value = "Search by Town";
    });
</script>
