@model SmartCarRentals.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <!-- clock -->
                <div class="small-box bg-gradient-blue">
                    <div class="inner">
                        <a class="weatherwidget-io" href="https://forecast7.com/en/42d7023d32/sofia/" data-label_1="SOFIA" data-label_2="WEATHER" data-theme="original">SOFIA WEATHER</a>
                        <script>
                            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                        </script>
                    </div>
                </div>
                <!-- /.clock -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="small-box bg-gradient-indigo">
                    <div class="inner">
                        <!--Dayspedia.com widget-->
                        <div class="DPDC calendar_header" cityid="9918" id="dayspedia_widget_fc7390ee0a10720" host="https://dayspedia.com" ampm="true" nightsign="true" style="background-image: url(&quot;https://cdn.dayspedia.com/img/widgets/bg-6.png&quot;); width: auto; padding: 24px;" lang="en">
                            <a class="DPl" href="https://dayspedia.com/time/bg/Sofia/" target="_blank" style="display:block!important;text-decoration:none!important;border:none!important;cursor:pointer!important;background:transparent!important;line-height:0!important;text-shadow:none!important;position:absolute;z-index:1;top:0;right:0;bottom:0;left:0">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="position:absolute;right:8px;bottom:0;width:16px;height:16px">
                                    <path style="fill:/*defined*/#007DBF" d="M0,0v16h1.7c-0.1-0.2-0.1-0.3-0.1-0.5c0-0.9,0.8-1.6,1.6-1.6c0.9,0,1.6,0.8,1.6,1.6c0,0.2,0,0.3-0.1,0.5h1.8 c-0.1-0.2-0.1-0.3-0.1-0.5c0-0.9,0.8-1.6,1.6-1.6s1.6,0.8,1.6,1.6c0,0.2,0,0.3-0.1,0.5h1.8c-0.1-0.2-0.1-0.3-0.1-0.5 c0-0.9,0.8-1.6,1.6-1.6c0.9,0,1.6,0.8,1.6,1.6c0,0.2,0,0.3-0.1,0.5H16V0H0z M4.2,8H2V2h2.2c2.1,0,3.3,1.3,3.3,3S6.3,8,4.2,8z M11.4,6.3h-0.8V8H9V2h2.5c1.4,0,2.4,0.8,2.4,2.1C13.9,5.6,12.9,6.3,11.4,6.3z M4.4,3.5H3.7v3h0.7C5.4,6.5,6,6,6,5 C6,4.1,5.4,3.5,4.4,3.5z M11.3,3.4h-0.8V5h0.8c0.6,0,0.9-0.3,0.9-0.8C12.2,3.7,11.9,3.4,11.3,3.4z">
                                    </path>
                                </svg>
                                <span title="DaysPedia.com" style="position:absolute;right:28px;bottom:6px;height:10px;width:60px;overflow:hidden;text-align:right;font:normal 10px/10px Arial,sans-serif!important;color:/*defined*/#007DBF">Powered&nbsp;by DaysPedia.com</span>
                            </a>
                            <div class="DPDCh" style="color: rgb(255, 255, 255); font-size: 10px;">Current Time in Sofia</div>
                            <div class="DPDCt" style="color: rgb(255, 255, 255); font-size: 64px;">
                                <span class="DPDCth">06</span><span class="DPDCtm">53</span><span class="DPDCts">55</span><span class="DPDCt12">pm</span>
                            </div>
                            <div class="DPDCd" style="color: rgb(255, 255, 255); font-size: 14px;">
                                <span class="DPDCdt">Thu, March 12</span><span class="DPDCtn" style="border-color: rgb(255, 255, 255); width: 18px; height: 18px;"><i style="background-color: rgb(255, 255, 255);"></i></span>
                            </div>
                        </div>
                        <!--Dayspedia.com widget ENDS-->
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <!-- calendar -->
                <div class="small-box bg-gradient-indigo">
                    <div class="inner">
                        <div class="calendar calendar-first" id="calendar_first">
                            <div class="calendar_header">
                                <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
                                <h2></h2>
                                <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
                            </div>
                            <div class="calendar_weekdays"></div>
                            <div class="calendar_content"></div>
                        </div>
                    </div>
                </div>
                <!-- /.calendar -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.ParkingsCount</h3>

                        <p>Parkingks</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-parking"></i>
                    </div>
                    <a class="small-box-footer" asp-area="Administration" asp-controller="Parkings" asp-action="All">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.DriversCount</h3>

                        <p>Drivers</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <a class="small-box-footer" asp-area="Administration" asp-controller="Drivers" asp-action="All">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.CarsCount</h3>

                        <p>Cars</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-car"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.UsersCount</h3>

                        <p>Users</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-6 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.TownsCount</h3>

                        <p>Towns</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a class="small-box-footer" asp-area="Administration" asp-controller="Towns" asp-action="All">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-6 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-info">
                    <div class="inner">
                        <h3>@Model.CountriesCount</h3>

                        <p>Countries</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a class="small-box-footer" asp-area="Administration" asp-controller="Countries" asp-action="All">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
</section>
