@using SmartCarRentals.Common
@model SmartCarRentals.Web.ViewModels.Main.Transfers.TransferCreateInputModel
@{
    this.ViewData["Title"] = "Create Transfers page";
}
@{
    string navImgUrl = "https://res.cloudinary.com/dp70enihl/image/upload/v1583615677/SmartCarRentalsPics/Background/bg_3_dt2wuw.jpg";
    var drivers = Model.Drivers;
    var driversListItem = Model.Drivers.Select(d => new SelectListItem($"{d.FirstName} {d.LastName}", d.Id.ToString()));
    var transfersTypes = Model.TransfersTypes.Select(t => new SelectListItem(t.Name, t.Id.ToString()));
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@navImgUrl');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home <i class="fas fa-greater-than"></i></a></span> <span>Transfers <i class="fas fa-greater-than"></i></span></p>
                <h1 class="mb-3 bread">Choose Your Transfer</h1>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row no-gutters">

            <div class="small-box bg-primary">
                <div class="inner">

                    <form class="request-form ftco-animate bg-primary" enctype="multipart/form-data" method="post">
                        <h2>Make Your Transfer</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <select name="SearchByDriver" id="inputDriver" class="form-group" asp-items="@driversListItem">
                                <option value="@ViewData["DriverFilter"]">Select Driver</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="driverId" asp-for="@Model.DriverId" class="form-control" style="display:none" />
                            <span asp-validation-for="@Model.DriverId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <select class="form-group" asp-for="@Model.TransferTypeId" asp-items="@transfersTypes">
                                <option value="">Select Transfer Type</option>
                            </select>
                            <span asp-validation-for="@Model.TransferTypeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input data-provide="datepicker" data-date-format="yyyy-mm-dd" asp-for="@Model.TransferDate" value="Select Date">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success py-3 px-4">Make Transfer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="helper" style="display:none">
            </div>


            @foreach (var driver in drivers)
            {
                <div id="@driver.Id" style="display:none" class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url(@driver.Image);">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a>@driver.FirstName @driver.LastName</a></h2>
                            <p class="mb-0 rated">
                                <span>Rating: @driver.Rating.ToString("F2") </span>
                                <br />
                                <span>
                                    @for (int i = 1; i <= driver.Rating; i++)
                                    {
                                        if (i < 4)
                                        {
                                            <span class="fas fa-star text-yellow"></span>
                                        }
                                        else if (i > 7)
                                        {
                                            <span class="fas fa-star text-danger"></span>
                                        }
                                        else
                                        {
                                            <span class="fas fa-star text-orange"></span>
                                        }
                                    }

                                    @for (int i = EntitiesAttributeConstraints.MaxRatingVote; i > driver.Rating; i--)
                                    {
                                        <span class="far fa-star text-yellow"></span>
                                    }
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>

    let oldSelectedElement = document.getElementById('helper');
    let driverFullName = document.getElementById('inputDriver');
    let driverIdElement = document.getElementById('driverId');

    driverFullName.addEventListener('change', (event) => {
        driverFullName = document.getElementById('inputDriver');
        console.log(driverFullName.value);
        let newSelecetedElement = document.getElementById(driverFullName.value);
        driverIdElement.setAttribute('value', driverFullName.value);

        oldSelectedElement.style.display = 'none';
        newSelecetedElement.style.display = 'block';
        oldSelectedElement = newSelecetedElement;
    });

</script>
